@use '../abstracts/variables' as *;
.cta-container {
    margin-top: 2rem;
    .cta-title {
        font-weight: bolder;
        span {
            color: $color-blue-800;
        }
    }

    .cta-description {
        font-weight: lighter;
        margin: 1rem 0;
        width: 80%;
    }

    .cta-moredetails {
        font-size: smaller;

    }

    .cta-createSlidesBtn {
        
        color: $color-white;
        background-color: $color-pink-800;
        font-size: 1rem;
        font-weight: bold;
        width: 12rem;
        padding: 0.5rem;
        border-radius: 1.25rem;
        margin-top: 2.5rem;

        img {
            height: 1.4rem;
            padding-left: 0.2rem;
        }
    }

    .cta-howToUseBtn {
        color: $color-black;
        background-color: $color-gray;
        font-size: 1rem;
        font-weight: bold;
        width: 9rem;
        padding: 0.5rem;
        border-radius: 1.25rem;
        margin-top: 0.75rem;
        margin-bottom: 1.75rem;
        img {
            height: 1.4rem;
            padding-left: 0.2rem;
        }
    }

    .cta-img {
        img {
            width: 90%;
        }
    }
}
