@use '../abstracts/variables' as *;
.cta-container {
    margin: 0 auto;
    height: calc(100vh - 80px);
    

background: rgb(255,255,255);
background: -moz-linear-gradient(180deg, rgba(255,255,255,0.9850533963585434) 90%, rgba(246,246,246,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(255,255,255,0.9850533963585434) 90%, rgba(246,246,246,1) 100%);
background: linear-gradient(180deg, rgba(255,255,255,0.9850533963585434) 90%, rgba(246,246,246,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#f6f6f6",GradientType=1);
    


.cta-title {
        font-weight: bolder;
        font-size: 3rem;
        max-width: 800px;
        line-height: 3rem;
        span {
            color: $color-blue-800;
        }
    }

    .cta-description {
        font-weight: 1rem;
        font-size: 1.3rem;
        margin: 1rem 0;
        width: 80%;
    }

    .cta-moredetails {
        font-size: 1rem;
        cursor: pointer;
        color: gray;
    }

    .cta-createSlidesBtn {
        color: $color-white;
        background-color: $color-pink-800;
        font-size: 1.3rem;
        width: 15rem;
        padding: 0.5rem;
        padding-left: 0.7rem;
        border-radius: 1.25rem;
        margin-top: 2rem;

        img {
            height: 2rem;
            padding-left: 0.2rem;
        }
    }

    .cta-howToUseBtn {
        color: $color-black;
        background-color: $color-gray;
        font-size: 1.2rem;
        font-weight: 1rem;
        width: 11rem;
        padding: 0.5rem;
        border-radius: 1.25rem;
        margin-top: 0.75rem;
        
        img {
            height: 1.7rem;
            margin-left: 15px;
        }
    }

    .cta-img {
            width: 100%;
            max-width: 700px;
    }
}