@use '../abstracts/variables' as *;

.login-form-wrapper {
    margin: 0 50px 0 50px;

    .bubble {
        position: absolute !important;

    }

    .red {
        bottom: -10%;
        left: 0;
        width: 40%;
    }

    .blue {
        bottom: 18%;
        left: 50%;
        z-index: -1;
    }

    .gray {
        left: 0;
    }

    .login-form-container {

        .login-form {
            width: 500px;
            background-color: #F6F7FB;
            margin: 4rem 0 2rem 0;
            border-radius: 1rem;
            

            .title {
                font-size: 2.5rem;
                padding: 1rem;
                margin: 1rem 1rem 0 1rem;
                font-weight: 600;
            }

            .input-container {

                input {
                    margin: 0rem 2rem 1.5rem 2rem;
                    padding: 1.3rem;
                    border-radius: 0.7rem;
                    font-size: 1.3rem;
                }
            }

            .signup-link {

                span {
                    text-decoration: underline;
                    text-decoration-color: $color-black;
                }

                span:hover {
                    color: $color-blue-800;
                    text-decoration-color: $color-blue-800;
                }
            }


            .login-with-creds-btn {
                background-color: $color-pink-800;
                width: 30%;
                height: 100%;
                padding: 0.3rem;
                color: $color-white;
                font-weight: 500;
                font-size: 1.5rem;
                text-align: center;
                border-radius: 0.7rem;
                margin-top: 1.5rem;
                border-color: $color-white;
            }

            .divider-container {
                margin: 1.5rem 0;
                .divider {
                    overflow: hidden;
                    text-align: center;
                    width: calc(100% - 4rem);
                  }
                
                  .divider:before,
                  .divider:after {
                    background-color: $color-gray;
                    content: "";
                    display: inline-block;
                    height: 1px;
                    position: relative;
                    vertical-align: middle;
                    width: 50%;
                  }
                  
                  .divider:before {
                    right: 0.5em;
                    margin-left: -50%;
                  }
                  
                  .divider:after {
                    left: 0.5em;
                    margin-right: -50%;
                  }
            }

            .third-party-login-btn-container {

                .icon {
                    width: 48px;
                    margin: 0 0.5rem 2rem 0.5rem;
                    border-radius: 1.1rem;
                }

                .icon:hover {
                    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
                }
            }

        }
    }
}