@use '../abstracts/variables' as *;

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-out 0.2s;
  position: sticky;
  top: 0;
  z-index: 1000;

  &.active{
    background-color: $color-blue-800;
    color: black;
    span{
      color: white;
    }
    .logo{
      .text{
        color: white !important;
      }
    }
    .menu__item{
      color: white;
    }
  }

  .container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: 20px 0;
    padding: 10px 0;

    .logo{
      font-size: 40px;
      font-weight: bold;

      .text{
        color: $color-blue-800;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      gap: 80px;
      font-weight: 500;
      span{
        cursor: pointer;
      }
      .menu__item{
        font-size: 20px;
        
      }

      .user{
        display: flex;
        align-items: center;
        position: relative;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        .options{
          display: flex;
          flex-flow: column nowrap;
          gap: 10px;
          position: absolute;
          top: 60px;
          background-color: white;
          padding: 20px;
          right: 0;
          border: 1px solid #dedede;
          width: 200px;
          font-weight: 300;
          border-radius: 10px;
          z-index: 2000;

          span{
            color: gray
          }

          ::before{
            content: '';
            position: absolute;
            top: -20px;
            right: 20px;
            border: 10px solid transparent;
            border-bottom-color: rgb(202, 201, 201);
          }
          ::after{
            content: '';
            position: absolute;
            top: -19px;
            right: 20px;
            border: 10px solid transparent;
            border-bottom-color: white;
          }
        }
      }
      
      .login{
        color: white;
        padding: 3px 15px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: $color-pink-800;
        cursor: pointer;
        &:hover{
          background-color: $color-pink-600;
        }
      }
    }
  }
}