@use '../abstracts/variables' as *;

.navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-out 0.2s;
  position: sticky;
  top: 0;
  z-index: 1000;

  &.active{
    background-color: $color-blue-800;
    color: black;
    span{
      color: white;
    }
    .logo{
      .text{
        color: white !important;
      }
    }
    .menu__item{
      color: white;
    }
  }

  .container{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: 20px 0;
    padding: 10px 0;

    .logo{
      font-size: 40px;
      font-weight: bold;

      .text{
        color: $color-blue-800;
      }
    }
    .menu{
      display: flex;
      align-items: center;
      gap: 80px;
      font-weight: 500;
      span{
        cursor: pointer;
      }
      .menu__item{
        font-size: 20px;
        
      }

      .user{
        display: flex;
        align-items: center;
        position: relative;
        img{
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 10px;
        }

        .options{
          display: flex;
          flex-flow: column nowrap;
          gap: 10px;
          position: absolute;
          top: 60px;
          background-color: white;
          padding: 20px;
          right: 0;
          border: 1px solid #dedede;
          width: 200px;
          font-weight: 300;
          border-radius: 10px;
          z-index: 2000;

          span{
            color: gray
          }

          .arrow::before{
            content: '';
            position: absolute;
            top: -20px;
            right: 20px;
            border: 10px solid transparent;
            border-bottom-color: rgb(202, 201, 201);
          }
          .arrow::after{
            content: '';
            position: absolute;
            top: -19px;
            right: 20px;
            border: 10px solid transparent;
            border-bottom-color: white;
          }
        }
      }
      
      .login{
        color: white;
        padding: 3px 15px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: $color-pink-800;
        cursor: pointer;
        &:hover{
          background-color: $color-pink-600;
        }
      }
    }
  }
  .music-waves {
    position: relative;
  }
}
.music-waves span {
  position: absolute;
  width: 5px;
  height: 5px;
  bottom: 0;
  background: #000;
  animation: waves 0.5s infinite ease;
}

.music-waves span:nth-child(1) {
  animation-delay: 0.3s;
  background: #ff8c00;
}

.music-waves span:nth-child(2) {
  margin-left: 7px;
  animation-delay: 0.4s;
  background: #ffff00;
}

.music-waves span:nth-child(3) {
  margin-left: 14px;
  animation-delay: 0.6s;
  background: #26d53a;
}

.music-waves span:nth-child(4) {
  margin-left: 21px;
  animation-delay: 0.8s;
  background: #26e6a3;
}

.music-waves span:nth-child(5) {
  margin-left: 28px;
  animation-delay: 1s;
  background: #1da8e2;
}

@keyframes waves {
  0% {
    height: 5px;
  }

  30% {
    height: 15px;
  }

  60% {
    height: 20px;
  }

  80% {
    height: 15px;
  }

  100% {
    height: 5px;
  }
}