@use '../abstracts/variables' as *;

.message-wrapper {

    .message-container {

        .title {
            font-size: 4rem;
            color: $color-blue-800;
            font-weight: bold;

        }

        .subtitle {
            font-size: 1rem;
            color: $color-gray;
            text-align: center;
        }

        .btn-container {
            margin: 1rem 0;

            .btn {

                background-color: $color-pink-800;
                color: $color-white;
            }

            .btn:hover {
                border-color: $color-white;
            }
        }
    }
}