@use '../abstracts/variables' as *;

.promotion-container {
    padding: 4rem;
    color: $color-white;
    margin-top: 4rem;
    background: rgb(5,22,111);
    background: -moz-linear-gradient(0deg, rgba(5,22,111,1) 0%, rgba(8,35,181,1) 70%);
    background: -webkit-linear-gradient(0deg, rgba(5,22,111,1) 0%, rgba(8,35,181,1) 70%);
    background: linear-gradient(0deg, rgba(5,22,111,1) 0%, rgba(8,35,181,1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#05166f",endColorstr="#0823b5",GradientType=1);    
.title {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 2rem;
    } 

    .plans {

        .plan-container {
            width: 35%;
            font-size: 1.3rem;
            .price {
                font-size: 3rem;
                text-align: left;
            }

            .plan-title {
                font-size: 2rem;

            }

            .description {
                font-style: italic;
            }

            .getStartedBtn {
                border: 0.2rem solid white;
                border-radius: 1.5rem;
                text-align: center;
                padding: 0.1rem 1rem;
                margin: 1rem 0;

                &.active{
                    background-color: white;
                    color: $color-blue-800;
                }
            }

            .active {
                background-color: $color-white;
                color: $color-blue-800;
            }

            ul {
                list-style-type: disc;
                margin-left: 1rem;
            }


            .current-plan {
                background-color: $color-pink-600;
                padding: 0.3rem 0.5rem;
                border-radius: 0.5rem;
                font-size: 0.9rem;
                font-style: italic;
            }
        }


    }


}