$color-black: #000;
$color-white: #fff;
$color-gray: #dedede;

$color-blue-800: #0823b5;
$color-blue-600: #1335ed;
$color-blue-400: #64bcf5;
$color-blue-200: #c4f2fa;

$color-pink-800: #e52991;
$color-pink-600: #f25eb0;
